.heightController {
  position:relative;
  background-color: #212124;
  height: 812px;
}
.backBtn{
  position: absolute;
  color: white;
  text-decoration: none;
  top: 18px;
  left: 20px;
  font-size: 14px;
  z-index: 2;
}

.backBtn:hover {
  text-decoration: underline;
}

.leftBackArrow {
  margin-right: 10px;
}

.leftPhotoContainer {
  position: absolute;
  text-decoration: none;
  height: 100%;
  width: 50%;
  left: 0;
  background-color: #212124;
  cursor: pointer;
  outline: none;
  border: none;
}

.rightPhotoContainer{
  position: absolute;
  text-decoration: none;
  height: 100%;
  width: 50%;
  right: 0;
}

.leftArrow {
  position: absolute;
  bottom: 50%;
  left: 15px;
  font-size: 60px;
  color: #fff;
  z-index: 3;
}

.leftPhotoContainer:hover .leftArrow,
.rightPhotoContainer:hover .rightArrow{
  opacity: .7;
}

.rightArrow {
  position: absolute;
  bottom: 50%;
  right: 15px;
  font-size: 60px;
  color: #fff;
  z-index: 3;
}

.imageContainer {
  position: absolute;
  display: flex;
  margin: 0 170px;
  background: none;
  padding: 50px 0;
  z-index: 2;
  height: 87.65%;
  width: 80%;
}

.imageContainer_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  max-width: 1048px;
  max-height: 800px;
}

@media screen and (max-width: 1240px) {
  /* .imageContainer_image {
    max-height: 30%;
  } */
}
