.singleImage {
  max-width: 250px;
  height: 100%;
  object-fit: cover;
  border: 3px solid black;
  cursor: pointer;
}

.image__user_info {
  position: absolute;
  margin-bottom: 100px;
}

.wrapperImage {
  max-width: 80rem;
  margin: 4rem auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
}
.centerPagination {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
